*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #fff;
}
a{
    text-decoration: unset;
    color: #333;
}

.container{
    position: relative;

    .header-container{
        position: relative;
        height: 48px;
    }
}

.header{
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    .logo{
        position: relative;
        height: 100%;

        a{
            display: flex;
            align-items: center;
            height: 100%;

            img{
                width: 32px;
                margin-right: 16px;
            }
        }
    }
}

.section-1{
    position: relative;
    background: linear-gradient(120deg,#6236ff 0%,#6236ff 0%,#32c5ff 99%,#32c5ff 100%);
    height: 300px;
}
.section-2{
    position: relative;
    height: 100px;
}