@import '@commonUtils/scss.scss';

.dialog-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header{
        position: relative;
        height: 31px;
        padding: 0 4px 0 16px;
        border-bottom: 1px solid $gray-bg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;

        .title{
            position: relative;
            color: $gray-dark;
            font-size: 14px;
        }

        .close{
            position: relative;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg{
                font-size: 14px;
            }
        }
    }

    .search{
        position: relative;
    }

    .body{
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
        overflow: auto;

        &::-webkit-scrollbar{
            width:6px;
            height:16px;
            background-color:#eee;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track{
            -webkit-box-shadow:inset 0 0 6px rgba(160, 160, 160, 0.3);
            border-radius:10px;
            background-color:#F5F5F5;
        }
        &::-webkit-scrollbar-thumb{
            border-radius:10px;
            -webkit-box-shadow:inset 0 0 6px rgba(88, 88, 88, 0.3);
            background-color:#ccc;
        }
    }

    .footer{
        position: relative;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid $gray-bg;
        flex-shrink: 0;

        .button-group{
            position: relative;

            button{
                margin: 0 12px;
            }
        }
    }
}