.container{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px;
    height: 100%;

    .header{
        position: relative;
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-bottom: 12px;
    }

    .search{
        position: relative;
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-bottom: 12px;
        padding: 10px 0 0;
    }

    .content{
        position: relative;
        width: 100%;
        -webkit-box-flex: 22;
        -webkit-flex: 22;
           -moz-box-flex: 22;
            -ms-flex: 22;
                flex: 22;
        margin-bottom: 12px;

        .table-opt-td{
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
               -moz-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
               -moz-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

            & > button{
                margin: 0 5px;
            }
        }
    }

    .foofer{
        position: relative;
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
}