.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0,0,0,0.02);
    z-index: 99999;
}

.header{
    position: relative;
    height: 48px;
    background-color: #fafafa;
}

.content{
    overflow: hidden;
}

.panel-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 0;
}

:global ._confirm-dialog{
    position: relative;

    ._confirm-dialog-title{
        position: relative;
        display: flex;
        align-items: start;

        .icon{
            color: #faad14;
            margin-right: 8px;
            width: 18px;
            height: 18px;
            flex-shrink: 0;
        }
    }

    ._confirm-dialog-content{
        position: relative;
        padding-left: 26px;
    }
}